<?xml version="1.0"?>
<manifest package="com.example.officialapp" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" android:versionCode="1" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33"/>

    <application android:hardwareAccelerated="true" android:name="org.qtproject.qt6.android.bindings.QtApplication" android:label="Official App" android:extractNativeLibs="true">
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density" 
                  android:name="org.qtproject.qt6.android.bindings.QtActivity" 
                  android:label="Official App" 
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="OfficialApp"/>
            <meta-data android:name="android.app.arguments" android:value=""/>
            <meta-data android:name="android.app.extract_android_style" android:value="minimal"/>
            <!-- Background running -->
            <meta-data android:name="android.app.background_running" android:value="false"/>
            <!-- Background running -->
        </activity>
    </application>
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>
</manifest>